<?xml version="1.0"?>
<launch>
  <master auto="start"/>

  <!-- <arg name="node_start_delay" default="15.0" />  
  <node name="listener" pkg="roscpp_tutorials" type="listener" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " /> -->

  <!-- Robot Model -->
  <arg name="model" default="$(find p3dx_description)/urdf/pioneer3dx.xml"/>
  <param name="robot_description" textfile="$(arg model)" />
  
  <!-- Map Server -->
  <node pkg="map_server" type="map_server" name="map_server"
	  args="$(find space_coverage)/maps/isr_sea4/map.yaml" respawn="false" launch-prefix="bash -c 'sleep 6; $0 $@' "/>

  <!-- AMCL -->
  <include file="$(find space_coverage)/Modules/amcl.launch">
    <arg name="node_start_delay" value="6.5"/>
    <arg name="initial_pose_x" value="0"/>
    <arg name="initial_pose_y" value="0"/>
    <arg name="initial_pose_a" value="-1.57"/>
  </include>

  <!-- Move_Base -->
  <include file="$(find space_coverage)/Modules/move_base/move_base.launch">
    <arg name="node_start_delay" value="7"/>
  </include>

  <!-- Rviz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find space_coverage)/world/rviz/robot.rviz" launch-prefix="bash -c 'sleep 7.5; $0 $@' "/>

</launch>
