<?xml version="1.0"?>
<launch>
  <master auto="start"/>


  <arg name="model" default="$(find p3dx_description)/urdf/pioneer3dx.xml"/>
  <param name="robot_description" textfile="$(arg model)" />

  <!-- <node name="map_server" pkg="map_server" type="map_server"
	args="$(find space_coverage)/world/Stage/building/building.png 0.025" respawn="false"/> -->

  <node pkg="stage_ros" type="stageros" name="stageros"
args="$(find space_coverage)/world/Stage/pioneer_building.world" respawn="false">
  	<param name="/use_sim_time" value="true"/>
    <param name="base_watchdog_timeout" value="0.2"/>
    <remap from="base_scan" to="scan"/>
  </node>

  <node type="rviz" name="rviz" pkg="rviz" args="" />

  <!--- load robot's URDF model -->
  <include file="$(find p3dx_description)/launch/p3dx_description.launch">
    <!-- <arg name="tf_prefix" value="" /> -->
  </include>

</launch>
