<launch>
  <node name="space_coverage_planner" pkg="space_coverage" type="space_coverage_node" respawn="false" output="screen">
    <param name="x_offset" value="-12.52"/>
    <param name="y_offset" value="-14.44"/>
    <param name="goal_dist" value="0.9"/>
    <param name="cell_size" value="0.6"/>
  </node>
</launch>
