<?xml version="1.0"?>
<launch>
  <arg name="tf_prefix" default="robot_0"/>
  <arg name="model" default="$(find p3dx_description)/urdf/pioneer3dx_fixed_joints.xml"/>
  <!--<arg name="gui" default="False" />-->
  
  <param name="robot_description" textfile="$(arg model)" />  
  <!--<param name="use_gui" value="$(arg gui)"/>-->

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
  	<param name="tf_prefix" value="$(arg tf_prefix)"/>
  </node>
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

</launch>